* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  cursor: url("../assets/icons/cursor.svg"), auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #4C4C4C;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url("../assets/icons/cursor-pointer.svg"), pointer;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1279.5px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 767.5px) {
  .container {
    padding: 0 10px;
  }
}

.section {
  padding: 80px 0px 100px 0px;
}

@media (max-width: 767.5px) {
  .section {
    padding: 42px 0px 42px 0px;
  }
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("../assets/icons/cursor-pointer.svg"), pointer;
  width: 207px;
  height: 52px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: inherit;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button._colored {
  background-color: #F1CDB3;
}

.button:not(._disabled):hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.button._small {
  width: 187px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.button._big {
  width: 261px;
}

.button._round {
  width: 52px;
  height: 52px;
}

.button._arrow {
  background-image: url("../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button .arrow__left {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button._disabled {
  color: #CDCDCD;
  border-color: #CDCDCD;
}

.button._disabled._disabled {
  cursor: url("../assets/icons/cursor.svg"), auto;
}

.img-wrapper {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.img {
  max-width: 100%;
  max-height: 100%;
}

.heading {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
}

@media (max-width: 767.5px) {
  .heading {
    font-size: 25px;
  }
}

.header {
  position: absolute;
  z-index: 2;
  top: 60px;
  width: 100%;
  height: 60px;
  color: #CDCDCD;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  width: 186px;
  height: 60px;
  text-align: center;
}

.header__title {
  letter-spacing: 0.06em;
  font-family: 'Georgia';
  font-size: 32px;
  line-height: 110%;
  margin: 0 0 5px 0;
  font-weight: 400;
  font-style: normal;
  color: #F1CDB3;
}

.header__subtitle {
  font-size: 13px;
  letter-spacing: 0.1em;
}

.header__navbar {
  width: 443px;
  height: 27px;
}

@media (max-width: 767.5px) {
  .header__navbar {
    display: none;
  }
}

.header__navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  padding-bottom: 3px;
}

.header__link:hover {
  color: #FAFAFA;
}

.header__link._active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

@media (max-width: 1279.5px) {
  .header {
    top: 30px;
  }
}

.header__burger {
  display: none;
  margin-right: 43px;
  background: inherit;
  position: relative;
  width: 30px;
  height: 32px;
  border: 0;
}

.header__burger span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 2px;
  background: #F1CDB3;
}

.header__burger::before, .header__burger::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #F1CDB3;
}

.header__burger::before {
  top: 5px;
}

.header__burger::after {
  bottom: 5px;
}

@media (max-width: 767.5px) {
  .header__burger {
    display: block;
  }
}

.hero {
  position: relative;
  background: url("../assets/gradient/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1279.5px) {
  .hero__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 1279.5px) {
  .hero__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.hero__text {
  padding-top: 343px;
  padding-bottom: 243px;
  max-width: 460px;
}

@media (max-width: 1279.5px) {
  .hero__text {
    padding-top: 150px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767.5px) {
  .hero__text {
    text-align: center;
    padding-bottom: 105px;
  }
}

.hero__heading {
  max-width: 310px;
  margin-bottom: 42px;
  font-family: 'Georgia';
  color: #FFFFFF;
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
}

@media (max-width: 767.5px) {
  .hero__heading {
    letter-spacing: 0.06em;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
  }
}

.hero__subheading {
  color: #CDCDCD;
  margin-bottom: 42px;
}

@media (max-width: 1279.5px) {
  .hero__button {
    margin: 0 auto;
  }
}

.hero__puppy {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
  max-width: 698px;
  max-height: 728px;
}

@media (max-width: 1279.5px) {
  .hero__puppy {
    max-width: 569px;
    max-height: 593px;
  }
}

@media (max-width: 767.5px) {
  .hero__puppy {
    width: 260px;
    max-height: 272px;
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 80px;
}

@media (max-width: 767.5px) {
  .about__container {
    row-gap: 42px;
  }
}

.about__pets {
  max-height: 408px;
}

@media (max-width: 1279.5px) {
  .about__pets {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

@media (max-width: 767.5px) {
  .about__pets {
    max-height: 352px;
  }
}

.about__description {
  max-width: 430px;
  padding-top: 14px;
}

@media (max-width: 1279.5px) {
  .about__description {
    padding-top: 0;
  }
}

@media (max-width: 767.5px) {
  .about__description {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
  }
}

.about__heading {
  max-width: 370px;
  margin-bottom: 25px;
}

@media (max-width: 767.5px) {
  .about__heading {
    text-align: center;
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.about__subheading:not(:last-child) {
  margin-bottom: 25px;
}

@media (max-width: 767.5px) {
  .about__subheading:not(:last-child) {
    margin-bottom: 22px;
  }
}

.friends {
  background-color: #F6F6F6;
}

.friends__heading {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 58px;
  text-align: center;
}

@media (max-width: 767.5px) {
  .friends__heading {
    margin-bottom: 40px;
  }
}

.friends__slider {
  position: relative;
}

@media (max-width: 767.5px) {
  .friends__slider {
    margin-bottom: 15px;
  }
}

.friends__cards {
  -webkit-column-gap: 7.5%;
          column-gap: 7.5%;
  height: 435px;
  overflow-y: hidden;
  margin-bottom: 60px;
}

@media (max-width: 1279.5px) {
  .friends__cards {
    max-width: 708px;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
  }
}

@media (max-width: 767.5px) {
  .friends__cards {
    margin-bottom: 45px;
    max-width: 270px;
  }
}

@media (max-width: 767.5px) {
  .friends__controls {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 80px;
            column-gap: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.friends__arrow-right, .friends__arrow-left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 767.5px) {
  .friends__arrow-right, .friends__arrow-left {
    position: static;
  }
}

.friends__arrow-left {
  -webkit-transform: rotateY(180deg) translateY(-50%);
          transform: rotateY(180deg) translateY(-50%);
  left: 0;
}

.friends__arrow-right {
  right: 0;
}

.friends__button {
  margin: 0 auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
}

.card__image {
  width: 100%;
  height: 270px;
  margin-bottom: 30px;
}

.card__name {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.card__button {
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  cursor: url("../assets/icons/cursor-pointer.svg"), pointer;
  background-color: #FFFFFF;
}

.card:hover .button {
  background-color: #FDDCC4;
}

.help__heading {
  max-width: 310px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 767.5px) {
  .help__heading {
    max-width: 270px;
    margin-bottom: 42px;
  }
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 10%;
          column-gap: 10%;
  row-gap: 55px;
}

@media (max-width: 1279.5px) {
  .help__list {
    -webkit-column-gap: 0px;
            column-gap: 0px;
  }
}

@media (max-width: 767.5px) {
  .help__list {
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.help__item {
  text-align: center;
}

@media (max-width: 1279.5px) {
  .help__item {
    -ms-flex-preferred-size: 32.5%;
        flex-basis: 32.5%;
    height: 113px;
  }
}

@media (max-width: 767.5px) {
  .help__item {
    -ms-flex-preferred-size: 44%;
        flex-basis: 44%;
    max-height: 87px;
  }
}

.help__img {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}

@media (max-width: 767.5px) {
  .help__img {
    max-height: 50px;
    margin-bottom: 20px;
  }
}

.help__name {
  font-size: 20px;
  line-height: 115%;
  white-space: nowrap;
}

@media (max-width: 767.5px) {
  .help__name {
    font-size: 16px;
    line-height: 110%;
  }
}

.donation {
  background-color: #F6F6F6;
}

.donation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.5px) {
  .donation__container {
    row-gap: 40px;
  }
}

.donation__image {
  max-height: 261px;
}

@media (max-width: 1279.5px) {
  .donation__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767.5px) {
  .donation__image {
    max-height: 136px;
  }
  .donation__image .img {
    max-height: 136px;
  }
}

.donation__content {
  max-width: 380px;
}

@media (max-width: 1279.5px) {
  .donation__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 767.5px) {
  .donation__content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.donation__heading {
  max-width: 300px;
  margin-bottom: 20px;
}

@media (max-width: 767.5px) {
  .donation__heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 220px;
  }
}

.donation__bank-info {
  font-size: 15px;
  line-height: 110%;
  margin-bottom: 20px;
}

@media (max-width: 767.5px) {
  .donation__bank-info {
    line-height: 160%;
    letter-spacing: 0;
  }
}

.donation__account {
  width: 349px;
  height: 43px;
  border-radius: 9px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
}

@media (max-width: 767.5px) {
  .donation__account {
    width: 281px;
    margin-left: auto;
    margin-right: auto;
  }
}

.donation__card-img {
  margin-right: 15px;
  display: inline-block;
  width: 30px;
  height: 23px;
}

.donation__card-number {
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 767.5px) {
  .donation__card-number {
    font-size: 15px;
  }
}

.donation__legal {
  font-size: 12px;
  line-height: 150%;
  font-style: italic;
  color: #B2B2B2;
}

@media (max-width: 767.5px) {
  .donation__legal {
    text-align: justify;
  }
}

.footer {
  background: url("../assets/gradient/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%);
  color: #F1CDB3;
  font-family: Georgia, sans-serif;
  font-size: 20px;
  padding-top: 40px;
  overflow-y: hidden;
}

@media (max-width: 1279.5px) {
  .footer {
    padding-top: 14px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 13%;
          column-gap: 13%;
  row-gap: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1279.5px) {
  .footer__container {
    -webkit-column-gap: 8.5%;
            column-gap: 8.5%;
  }
}

@media (max-width: 767.5px) {
  .footer__container {
    row-gap: 40px;
  }
}

.footer__contacts, .footer__location {
  margin-top: 16px;
}

@media (max-width: 767.5px) {
  .footer__contacts, .footer__location {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.5px) {
  .footer__location {
    margin-top: 0;
  }
}

.footer__heading {
  max-width: 280px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.footer__heading._location {
  margin-bottom: 32px;
}

@media (max-width: 767.5px) {
  .footer__heading._location {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.5px) {
  .footer__heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__mail, .footer__phone, .footer__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer__mail:not(:last-child), .footer__phone:not(:last-child), .footer__adress:not(:last-child) {
  margin-bottom: 40px;
}

.footer__mail:not(:last-child)._location, .footer__phone:not(:last-child)._location, .footer__adress:not(:last-child)._location {
  margin-bottom: 33px;
}

@media (max-width: 767.5px) {
  .footer__mail:not(:last-child)._location, .footer__phone:not(:last-child)._location, .footer__adress:not(:last-child)._location {
    margin-bottom: 40px;
  }
}

@media (max-width: 767.5px) {
  .footer__mail, .footer__phone, .footer__adress {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 767.5px) {
  .footer__adress {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__adress address {
  display: inline;
  text-decoration: none;
  font-style: normal;
  max-width: 260px;
}

.footer__mail-icon, .footer__phone-icon, .footer__marker-icon {
  margin-right: 20px;
  height: 32px;
}

.footer__image {
  max-height: 310px;
}

@media (max-width: 1279.5px) {
  .footer__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

@media (max-width: 767.5px) {
  .footer__image {
    max-height: 269px;
  }
}

.full-friends__header {
  position: relative;
  top: 0;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #545454;
}

@media (max-width: 1279.5px) {
  .full-friends__header {
    position: fixed;
    background-color: #fff;
  }
}

.full-friends__header .header__title {
  color: #545454;
}

.full-friends__header .header__link._active {
  color: #545454;
}

.full-friends__header .header__subtitle,
.full-friends__header .header__link:hover {
  color: #292929;
}

.full-friends__header .header__burger span {
  background: #000000;
}

.full-friends__header .header__burger::before, .full-friends__header .header__burger::after {
  background: #000000;
}

@media (max-width: 1279.5px) {
  .full-friends {
    padding-top: 200px;
    padding-bottom: 76px;
  }
}

@media (max-width: 1279.5px) and (max-width: 767.5px) {
  .full-friends {
    padding-top: 162px;
    padding-bottom: 44px;
  }
}

.full-friends__heading {
  margin-bottom: 57px;
}

@media (max-width: 1279.5px) {
  .full-friends__heading {
    margin-bottom: 27px;
  }
}

@media (max-width: 767.5px) {
  .full-friends__heading {
    margin-bottom: 39px;
  }
}

.full-friends__cards {
  -webkit-column-gap: 3.33%;
          column-gap: 3.33%;
  row-gap: 30px;
  padding-bottom: 15px;
  margin-bottom: 47px;
}

@media (max-width: 1279.5px) {
  .full-friends__cards {
    max-width: 580px;
    max-height: 1365px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    -webkit-column-gap: 40px;
            column-gap: 40px;
    margin-bottom: 42px;
  }
}

@media (max-width: 767.5px) {
  .full-friends__cards {
    max-width: 270px;
  }
}

.full-friends__button {
  padding: 0;
  letter-spacing: 0.06em;
  font-size: 20px;
  line-height: 115%;
}

.full-friends__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

@media (max-width: 767.5px) {
  .full-friends__controls {
    gap: 10px;
  }
}

.full-friends__pagenum {
  background-color: #F1CDB3;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */