* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  cursor: url("../assets/icons/cursor.svg"), auto;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #4C4C4C;
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url("../assets/icons/cursor-pointer.svg"), pointer;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  padding: 80px 0px 100px 0px;
}

.button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: url("../assets/icons/cursor-pointer.svg"), pointer;
  width: 207px;
  height: 52px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  background-color: inherit;
  font-family: Georgia;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.button._colored {
  background-color: #F1CDB3;
}

.button:hover {
  background-color: #FDDCC4;
}

.button._small {
  width: 187px;
}

.button._big {
  width: 261px;
}

.button._round {
  width: 52px;
  height: 52px;
}

.button._arrow {
  background-image: url("../assets/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button.arrow_left {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.img-wrapper {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
}

.heading {
  font-family: 'Georgia';
  font-size: 35px;
  line-height: 130%;
  font-weight: 400;
  color: #545454;
  letter-spacing: 0.06em;
}

.header {
  position: absolute;
  z-index: 2;
  top: 60px;
  width: 100%;
  height: 60px;
  color: #CDCDCD;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: block;
  width: 186px;
  height: 60px;
  text-align: center;
}

.header__title {
  letter-spacing: 0.06em;
  font-family: 'Georgia';
  font-size: 32px;
  line-height: 110%;
  margin: 0 0 5px 0;
  font-weight: 400;
  font-style: normal;
  color: #F1CDB3;
}

.header__subtitle {
  font-size: 13px;
  letter-spacing: 0.1em;
}

.header__navbar {
  width: 443px;
  height: 27px;
}

.header__navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  padding-bottom: 3px;
}

.header__link:hover {
  color: #FAFAFA;
}

.header__link.active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
}

.hero {
  position: relative;
  background: url("../assets/gradient/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero__text {
  padding-top: 343px;
  padding-bottom: 243px;
  margin-right: 42px;
  max-width: 460px;
}

.hero__heading {
  max-width: 310px;
  margin-bottom: 42px;
  font-family: 'Georgia';
  color: #FFFFFF;
  font-size: 44px;
  line-height: 130%;
  font-weight: 400;
}

.hero__subheading {
  color: #CDCDCD;
  margin-bottom: 42px;
}

.hero__puppy {
  position: relative;
  width: 698px;
  height: 728px;
}

.hero__puppy .img {
  bottom: 0;
  right: 0;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.about__pets {
  margin-right: 120px;
  width: 300px;
  height: 408px;
}

.about__description {
  width: 430px;
}

.about__heading {
  margin-top: 14px;
  max-width: 370px;
  margin-bottom: 25px;
}

.about__subheading:not(:last-child) {
  margin-bottom: 25px;
}

.friends {
  background-color: #F6F6F6;
}

.friends__heading {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
}

.friends__cards {
  position: relative;
  gap: 7.5%;
  height: 435px;
  overflow-y: hidden;
  margin-bottom: 60px;
}

.friends__arrow-right, .friends__arrow-left {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.friends__arrow-left {
  -webkit-transform: rotateY(180deg) translateY(-50%);
          transform: rotateY(180deg) translateY(-50%);
  left: 0;
}

.friends__arrow-right {
  right: 0;
}

.friends__button {
  margin: 0 auto;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 270px;
  background-color: #FAFAFA;
  padding-bottom: 30px;
  border-radius: 9px;
}

.card__image {
  width: 100%;
  height: 270px;
  margin-bottom: 25px;
}

.card__name {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

.card__button {
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  cursor: url("../assets/icons/cursor-pointer.svg"), pointer;
  background-color: #FFFFFF;
}

.card:hover .button {
  background-color: #FDDCC4;
}
/*# sourceMappingURL=style.css.map */